/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
} */

.container {
  max-width: 1024px;
  margin: 0 auto;
}

.no-margin {
  margin: 0;
}

.primary-background {
  background-color: #eb5440;
}

.dark .primary-element {
  color: white;
}

.dark .background-1 {
  background-color: #242424;
}

.dark .background-2 {
  background-color: #1a1a1a;
}

.dark .back-button-label-desktop {
  color: white;
}

.dark .secondary-background {
  background-color: #1a1a1a;
}

.dark .tertiary-1 {
  background-color: #171717;
}

.dark .tertiary-2 {
  background-color: #3c3c3c;
  color: white;
}

.dark label {
  color: white;
}

.dark input, .dark select, .dark textarea {
  background-color: #1a1a1a;
  color: white;
}
.dark .header-1 {
  color: white;
}

.dark .body-text {
  color: white;
}

.dark .header-2 {
  color: white;
}

.dark .desktop-header-inactive-menu {
  color: white;
}

.dark .listing-information {
  color: white;
}

.text-white {
  color: white;
}

.primary-element {
  color: #000000;
}

.secondary-element {
  color: #4a4b4c;
}

.secondary-background {
  background-color: #4a4b4c;
}

.hyperlink {
  color: #067bc2;
}

.tertiary-1 {
  background-color: #e8e8e8;
}

.tertiary-2 {
  background-color: #c3c3c3;
  color: white;
}

.background-1 {
  background-color: #f6f6f6;
}

.background-2 {
  background-color: #ffffff;
}

.header-1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 32px;
}

.header-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 22px;
}

.desktop-header-active-menu {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.buttons-and-tabs {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: white;
}

.back-button-label-desktop {
  font-family: "Montserrat", sans-serif;
  font-weight: 600; /* semibold */
  font-size: 16px;
}

.input-field-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600; /* semibold */
  font-size: 14px;
}

.desktop-header-inactive-menu {
  font-family: "Montserrat", sans-serif;
  font-weight: 500; /* medium */
  font-size: 18px;
}

.empty-state-message {
  font-family: "Montserrat", sans-serif;
  font-weight: 500; /* medium */
  font-size: 18px;
}

.header-1 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 32px;
}

.header-2 {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 22px;
}

.desktop-header-active-menu {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.buttons-and-tabs {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  font-size: 18px;
}

.back-button-label-desktop {
  font-family: "Montserrat", sans-serif;
  font-weight: 600; /* semibold */
  font-size: 16px;
  color: black;
}

.input-field-title {
  font-family: "Montserrat", sans-serif;
  font-weight: 600; /* semibold */
  font-size: 14px;
}

.desktop-header-inactive-menu {
  font-family: "Montserrat", sans-serif;
  font-weight: 500; /* medium */
  font-size: 18px;
}

.empty-state-message {
  font-family: "Montserrat", sans-serif;
  font-weight: 500; /* medium */
  font-size: 18px;
}

.listing-information {
  font-family: "Open Sans", sans-serif;
  font-weight: 400; /* regular */
  font-size: 16px;
}

.body-text {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
}

.error-message {
  font-family: "Montserrat", sans-serif;
  font-size: 14px;
  color: red;
  font-style: italic;
}

/* Mobile styles */
@media (max-width: 768px) {
  .header-1 {
    font-size: 18px;
  }

  .header-2 {
    font-size: 14px;
  }

  .buttons-and-tabs {
    font-size: 12px;
  }

  .input-field-title {
    font-size: 12px;
  }

  .empty-state-message {
    font-size: 14px;
  }

  .error-message {
    font-size: 12px;
  }

  .listing-information {
    font-size: 12px;
  }

  .body-text {
    font-size: 12px;
  }

  .input-field {
    font-size: 12px;
  }
}

.shadow-effect {
  /* Adjust the values below to match the desired effect */
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 9px;
}

body {
  margin: 0;
  padding: 0;
}

* {
  text-decoration: none;
}
